# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Conda/Virtual environments
.venv
env/
venv/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Editor/IDE folders
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Datasets
*.csv
*.parquet
*.json
data/

# Model files
*.pkl
*.pickle
*.h5
*.joblib
*.pth

# Secret files
*.env
secrets.ini
credentials.json
.secrets/

# Log files
*.log

# W&B local artifacts
wandb/
